.search-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.search {
  color: blueviolet;
  font-size: 1rem;
  width: 200px;
  padding: 5px;
  border: 2px solid rgb(187, 143, 227);
  outline: none;
  border-radius: 10px;
}

.search::placeholder {
  color: rgb(187, 143, 227);
  font-weight: bold;
}
.search:focus {
  border: 2px solid blueviolet !important;
  border-radius: 10px;
  outline: none;
}
.search:focus::placeholder {
  color: blueviolet;
}
.filters {
  color: blueviolet;
  font-weight: bold;
  border: 2px solid transparent;
}

.quantity,
.filters {
  text-align: center;
  font-size: 1rem;
}

.filters:hover {
  border: 2px solid transparent;
  border-bottom-color: blueviolet;
}
.filters option:hover {
  background-color: blueviolet;
}

@media screen and (max-width: 600px) {
  .search-container {
    justify-content: space-between;
    gap: 0.5rem;
  }
  .quantity,
  .search,
  .filters{
    font-size: 0.6rem;
  }
  .search{
    width: 20%;
    transition: width 1.5s ease-in-out;
    padding: 0.2rem;
  }
  .search:focus{
    width: 80%;
  }
  .filters{
    transition: display 1.5s ease-in-out;
    display: block;
  }
  .search:focus ~ .filters{
    display: none;
  }
/*  .search {
    width: 100%;
    height: 20px;
    font-size: 10px;
    transition: width 1.5s ease-in-out;
    border: 1px solid gray;
    outline: none;
  }
*/
  /* .search:focus {
    width: 80%; / Expands when focused /
    border: 2px solid blue;
  } */
  /* .filters {
    font-size: 0.7rem;
      display: block; / Initially visible /
      transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
    } */
    
    /* .search:focus ~ .filters {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      display: none;
    } */
    .quantity{
      margin-left: 0.2rem;
    }
  }

